<h1>Listing system_site_maps</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Id</th>
    <th>Is static</th>
    <th>Controller</th>
    <th>Action</th>
    <th>Parameter</th>
    <th>Link</th>
    <th>Script</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_site_maps.each do |system_site_map| %>
  <tr>
    <td><%= system_site_map.parent_id %></td>
    <td><%= system_site_map.id %></td>
    <td><%= system_site_map.is_static %></td>
    <td><%= system_site_map.controller %></td>
    <td><%= system_site_map.action %></td>
    <td><%= system_site_map.parameter %></td>
    <td><%= system_site_map.link %></td>
    <td><%= system_site_map.script %></td>
    <td><%= link_to 'Show', system_site_map %></td>
    <td><%= link_to 'Edit', edit_system_site_map_path(system_site_map) %></td>
    <td><%= link_to 'Destroy', system_site_map, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New System site map', new_system_site_map_path %>
